
<div class='award'>
	<h3>
		Selected Award
	</h3>
	<ul >
		<li>First-class PhD academic scholarship of BJTU (Oct. 2022, Oct. 2021)</li>
		<li>First-class PhD academic scholarship of BJTU (Oct. 2021, Oct. 2020)</li>
		<li>China National Scholarship (2020. 2% awarded.)</li>
	</ul>
	
	<h3>
		Professional Activities
	</h3>
	
	<h4>
		<a name='reviewer'></a> Reviewer
	</h4>
	
	<ul >
		<li>Neural Information Processing Systems (NeurIPS)</li>
		<li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)</li>
		<li>European Conference on Computer Vision (ECCV)</li>
		<li>IEEE/CVF International Conference on Computer Vision (ICCV)</li>
		<li>IEEE International Conference on Multimedia and Expo (ICME)</li>
		<li>Winter Conference on Applications of Computer Vision (WACV)</li>
		<li>International Conference on 3D Vision (3DV)</li>
		<li>Neurocomputing</li>
	</ul>
	
</div>


